// --------  SECTION ARTICLES  -----------

.articles {
  padding-top: 95px;
  padding-bottom: 85px;

  &__title {
    margin-bottom: 35px;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 31px;
    font-weight: 700;
    line-height: calc(34 / 31);
    color: var(--headers-color);
    text-transform: uppercase;
    text-align: center;
  }

  &__list {
    display: flex;
    gap: 30px;
  }

  &__item {
    width: calc((100% - 60px) / 3);
  }
}
