@import '~node_modules/modern-normalize/modern-normalize.css';

:root {
  /* rgb(119. 122. 131) */
  --text-color: #777a83;

  --text-color-light: rgb(173, 175, 181);

  /* rgb(58. 61. 73) */
  --headers-color: #3a3d49;

  --background-color: #ffffff;
  --buttons-background-color: #ffd141;
  --buttons-text-color: #3a3d49;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(21 / 14);
  color: var(--text-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
button {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.ibg {
  position: relative;
  /* padding-bottom: 700px; */
}

.ibg img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

[class*='_container'] {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  border: none;
  background-color: transparent;
}
