<article class="product-card__goods goods">
  <div class="goods__wrap">
    <ul class="goods__label-list">
      <li class="goods__featured-label goods__card-label">Featured</li>
      <li class="goods__new-label goods__card-label">New</li>
      <li class="goods__sale-label goods__card-label">-17%</li>
    </ul>

    <a class="goods__link-img" href="#">
      <img
        class="goods__img"
        src="./images/desserts/amandine.jpg"
        alt="Dessert Amandine"
        width="238"
      />
    </a>

    <div class="goods__description">
      <a class="goods__link-title" href="#">
        <h2 class="goods__title">Amandine</h2>
      </a>

      <ul class="goods__list-text">
        <li class="goods__item-text">Flour</li>
        <li class="goods__item-text">full-fat milk</li>
        <li class="goods__item-text">egg yolks</li>
        <li class="goods__item-text">whipping cream</li>
      </ul>

      <span class="goods__price">$1.99</span>
      <button class="goods__button-cart btn" type="button">
        <svg class="goods__svg-cart" width="13" height="14">
          <use
            href="./images/icons/sprite-pizza-shop.svg#icon-shopping-bag"
          ></use>
        </svg>
        Add to cart
      </button>
    </div>
  </div>
</article>
