<footer class="footer">
  <div class="_container">
    <div class="footer__menu">
      <div class="footer__location">
        <a class="footer__logo-link" href="./index.html">
          <svg class="footer__svg-logo" width="90" height="64">
            <use
              href="./images/icons/sprite-pizza-shop.svg#icon-logo-gray"
            ></use>
          </svg>
        </a>

        <p class="footer__phone">
          <svg class="footer__svg-phone" width="18" height="18">
            <use
              href="./images/icons/sprite-pizza-shop.svg#icon-phone-call"
            ></use>
          </svg>
          1-800-312-2121
        </p>

        <address class="footer__address">
          <p class="footer__text">555 California str, Suite 100</p>
          <p class="footer__text">San Francisco, CA 94107</p>
        </address>
      </div>

      <ul class="footer__list">
        <li class="footer__item">
          <ul class="footer__list-menu">
            <li class="footer__item-menu">
              <h2 class="footer__title">Our Menu</h2>
            </li>
            <li class="footer__item-menu">
              <a class="footer__item-link" href="#">Pizza</a>
            </li>
            <li class="footer__item-menu">
              <a class="footer__item-link" href="#">Burgers</a>
            </li>
            <li class="footer__item-menu">
              <a class="footer__item-link" href="#">Sushi</a>
            </li>
            <li class="footer__item-menu">
              <a class="footer__item-link" href="#">Steaks</a>
            </li>
            <li class="footer__item-menu">
              <a class="footer__item-link" href="#">Drinks</a>
            </li>
          </ul>
        </li>

        <li class="footer__item">
          <ul class="footer__list-page">
            <li class="footer__item-page">
              <h2 class="footer__title">Pages</h2>
            </li>
            <li class="footer__item-page">
              <a class="footer__item-link" href="#">About</a>
            </li>
            <li class="footer__item-page">
              <a class="footer__item-link" href="#">Contact</a>
            </li>
            <li class="footer__item-page">
              <a class="footer__item-link" href="#">Blog</a>
            </li>
            <li class="footer__item-page">
              <a class="footer__item-link" href="#">Blog Post</a>
            </li>
            <li class="footer__item-page">
              <a class="footer__item-link" href="#">Wishlist</a>
            </li>
          </ul>
        </li>

        <li class="footer__item">
          <ul class="footer__list-help">
            <li class="footer__item-help">
              <h2 class="footer__title">How can we help</h2>
            </li>
            <li class="footer__item-help">
              <a class="footer__item-link" href="#">Terms and Conditions</a>
            </li>
            <li class="footer__item-help">
              <a class="footer__item-link" href="#"
                >Privacy and Cookie policy</a
              >
            </li>
            <li class="footer__item-help">
              <a class="footer__item-link" href="#">FAQ</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="footer__copyright">
      <p class="footer__text">&copy; Copyright 2022 Food shop "Foodz"</p>
      <ul class="footer__list-social">
        <li class="footer__item-social">
          <a
            class="footer__link-social"
            href="http://facebook.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer__svg-social" width="17" height="17">
              <use
                href="./images/icons/sprite-pizza-shop.svg#icon-facebook"
              ></use>
            </svg>
          </a>
        </li>
        <li class="footer__item-social">
          <a
            class="footer__link-social"
            href="http://instagram.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer__svg-social" width="17" height="17">
              <use
                href="./images/icons/sprite-pizza-shop.svg#icon-instagram"
              ></use>
            </svg>
          </a>
        </li>
        <li class="footer__item-social">
          <a
            class="footer__link-social"
            href="http://twitter.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer__svg-social" width="21" height="21">
              <use
                href="./images/icons/sprite-pizza-shop.svg#icon-twitter"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
