<header class="header">
  <div class="header-up">
    <div class="header-up__container">
      <div class="header-up__wrap">
        <svg class="header-up__svg-phone" width="18" height="18">
          <use
            href="./images/icons/sprite-pizza-shop.svg#icon-phone-call"
          ></use>
        </svg>
        <p class="header-up__phone">+1 (800) 312-2121</p>
        <button class="header-up__button btn" type="button">
          Call me back
        </button>
      </div>

      <a class="header-up__link" href="#">
        <svg class="header-up__svg-avatar" width="14" height="16">
          <use href="./images/icons/sprite-pizza-shop.svg#icon-user-ava"></use>
        </svg>
        Login
      </a>
    </div>
  </div>

  <div class="header-mid">
    <div class="header-mid__container">
      <ul class="header-mid__list">
        <li class="header-mid__item">
          <a
            class="header-mid__link"
            href="http://facebook.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="header-mid__link-social" width="17" height="17">
              <use
                href="./images/icons/sprite-pizza-shop.svg#icon-facebook"
              ></use>
            </svg>
          </a>
        </li>
        <li class="header-mid__item">
          <a
            class="header-mid__link"
            href="http://instagram.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="header-mid__link-social" width="17" height="17">
              <use
                href="./images/icons/sprite-pizza-shop.svg#icon-instagram"
              ></use>
            </svg>
          </a>
        </li>
        <li class="header-mid__item">
          <a
            class="header-mid__link"
            href="http://twitter.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="header-mid__link-social" width="21" height="21">
              <use
                href="./images/icons/sprite-pizza-shop.svg#icon-twitter"
              ></use>
            </svg>
          </a>
        </li>
      </ul>

      <a class="header-mid__logo-link" href="./index.html">
        <svg class="header-mid__logo" width="90" height="64">
          <use href="./images/icons/sprite-pizza-shop.svg#icon-logo"></use>
        </svg>
      </a>

      <div class="header-mid__find">
        <button class="header-mid__button btn" type="button">
          <svg class="header-mid__svg-find" width="17" height="17">
            <use href="./images/icons/sprite-pizza-shop.svg#icon-search"></use>
          </svg>
        </button>

        <a class="header-mid__link" href="#">
          <svg class="header-mid__svg-find" width="20" height="20">
            <use
              href="./images/icons/sprite-pizza-shop.svg#icon-favorite"
            ></use>
          </svg>
        </a>

        <a class="header-mid__link" href="#">
          <svg class="header-mid__svg-find" width="20" height="20">
            <use
              href="./images/icons/sprite-pizza-shop.svg#icon-shopping-bag"
            ></use>
          </svg>
        </a>
      </div>
    </div>
  </div>

  <nav class="header-down">
    <div class="_container">
      <ul class="header-down__list">
        <li class="header-down__item">
          <a class="header-down__link" href="#">
            <svg class="header-down__svg" width="40" height="40">
              <use href="./images/icons/sprite-pizza-shop.svg#icon-pizza"></use>
            </svg>
            <span class="header-down__span">Pizza</span>
          </a>
        </li>
        <li class="header-down__item">
          <a class="header-down__link" href="#">
            <svg class="header-down__svg" width="40" height="40">
              <use
                href="./images/icons/sprite-pizza-shop.svg#icon-hamburger"
              ></use>
            </svg>
            <span class="header-down__span">Burgers</span>
          </a>
        </li>
        <li class="header-down__item">
          <a class="header-down__link" href="#">
            <svg class="header-down__svg" width="40" height="40">
              <use href="./images/icons/sprite-pizza-shop.svg#icon-sushi"></use>
            </svg>
            <span class="header-down__span">Sushi</span>
          </a>
        </li>
        <li class="header-down__item">
          <a class="header-down__link" href="#">
            <svg class="header-down__svg" width="40" height="40">
              <use
                href="./images/icons/sprite-pizza-shop.svg#icon-noodles"
              ></use>
            </svg>
            <span class="header-down__span">Noodles</span>
          </a>
        </li>
        <li class="header-down__item">
          <a class="header-down__link" href="#">
            <svg class="header-down__svg" width="40" height="40">
              <use href="./images/icons/sprite-pizza-shop.svg#icon-steak"></use>
            </svg>
            <span class="header-down__span">Steaks</span>
          </a>
        </li>
        <li class="header-down__item">
          <a class="header-down__link" href="#">
            <svg class="header-down__svg" width="40" height="40">
              <use
                href="./images/icons/sprite-pizza-shop.svg#icon-dessert"
              ></use>
            </svg>
            <span class="header-down__span">Desserts</span>
          </a>
        </li>
        <li class="header-down__item">
          <a class="header-down__link" href="#">
            <svg class="header-down__svg" width="40" height="40">
              <use href="./images/icons/sprite-pizza-shop.svg#icon-drink"></use>
            </svg>
            <span class="header-down__span">Drinks</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
