<section class="page-advertise advertise">
  <div class="_container">
    <ul class="advertise__list">
      <li class="advertise__item">
        <img
          class="advertise__img"
          src="./images/adv/frise-advertise.jpg"
          alt="Frise"
          width="370"
        />
        <div class="advertise__description advertise__description--color">
          <h2 class="advertise__header">
            <span class="advertise__span">Get your free</span><br />french fry
          </h2>
          <a class="advertise__link" href="#">Read more</a>
        </div>
      </li>
      <li class="advertise__item">
        <img
          class="advertise__img"
          src="./images/adv/roll-advertise.jpg"
          alt="Suhi roll"
          width="756"
        />
        <div class="advertise__description">
          <h2 class="advertise__header">
            <span class="advertise__span">Traditional</span><br />japanese sushi
          </h2>
          <a class="advertise__link" href="#">Read more</a>
        </div>
      </li>
    </ul>
  </div>
</section>
