<section class="page__articles articles">
  <div class="_container">
    <div class="articles__title-wrap">
      <h2 class="articles__title">Blog posts</h2>
    </div>

    <ul class="articles__list">
      <li class="articles__item">
        <!-- BLOG POST -->
        <include src="./partials/blog/post.html"></include>
      </li>
      <li class="articles__item">
        <article class="articles__post post">
          <a class="post__link-img" href="#">
            <img
              class="post__img"
              src="./images/blog/coffee.jpg"
              alt="Coffee and cupcake"
              width="360"
              height="450"
            />
          </a>
          <div class="post__time-wrap">
            <time class="post__data" datetime="2022-11-05">November 5, 2022</time>
            <span class="post__span">In</span>
            <button class="post__button btn" type="submit">Uncategorized</button>
          </div>
          <h3 class="post__title">Few quips galvanized the mock jury box</h3>
          <p class="post__text">
            The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog.
          </p>
          <a class="post__link" href="#">Continue Reading</a>
        </article>
      </li>
      <li class="articles__item">
        <!-- BLOG POST -->
        <include src="./partials/blog/post.html"></include>
      </li>
    </ul>
  </div>
</section>
