<section class="page__contacts contacts">
  <div class="_container">
    <ul class="contacts__list">
      <li class="contacts__item">
        <svg class="contacts__svg" width="55" height="55">
          <use href="./images/icons/sprite-pizza-shop.svg#icon-location"></use>
        </svg>
        <h2 class="contacts__title">Visit Us</h2>
        <address class="contacts__address">
          <a
            class="contacts__link"
            href="https://goo.gl/maps/58HJ9Cmhxct4rNP9A"
            target="_blank"
            rel="noopener noreferrer"
            >901-947 South Drive, Houston, TX 77057, USA</a
          >
        </address>
      </li>
      <li class="contacts__item">
        <svg class="contacts__svg" width="55" height="55">
          <use
            href="./images/icons/sprite-pizza-shop.svg#icon-clock-stroke"
          ></use>
        </svg>
        <h2 class="contacts__title">Working hours</h2>
        <ul class="contacts__hours-list">
          <li class="contacts__hours-item">
            <p class="contacts__text">Monday - Thursday 11:00 - 21:00</p>
          </li>
          <li class="contacts__hours-item">
            <p class="contacts__text">Friday - Saturday 11:30 - 22:00</p>
          </li>
          <li class="contacts__hours-item">
            <p class="contacts__text">Sundays 12:00 - 20:00</p>
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <svg class="contacts__svg" width="55" height="55">
          <use
            href="./images/icons/sprite-pizza-shop.svg#icon-phone-stroke"
          ></use>
        </svg>
        <h2 class="contacts__title">Contact Us</h2>
        <a class="contacts__link" href="tel:+80081234567">+8 008 123 45 67</a>
        <a class="contacts__link" href="mailto:example@mail.com"
          >example@mail.com</a
        >
      </li>
    </ul>
  </div>
</section>
