<section class="page__products products">
  <div class="_container">
    <ul class="products__tabs-list">
      <li class="products__tabs-item">
        <button class="products__tabs-button products__tabs-button--active btn">Pizza</button>
      </li>
      <li class="products__tabs-item">
        <button class="products__tabs-button btn">Burgers</button>
      </li>
      <li class="products__tabs-item">
        <button class="products__tabs-button btn">Sushi</button>
      </li>
      <li class="products__tabs-item">
        <button class="products__tabs-button btn">Drinks</button>
      </li>
    </ul>

    <ul class="products__cards-list">
      <li class="products__cards-item">
        <!-- PIZZA CARD -->
        <include src="./partials/cards/pizza-card.html"></include>
      </li>
      <li class="products__cards-item">
        <!-- PIZZA CARD -->
        <include src="./partials/cards/pizza-card.html"></include>
      </li>
      <li class="products__cards-item">
        <!-- PIZZA CARD -->
        <include src="./partials/cards/pizza-card.html"></include>
      </li>
      <li class="products__cards-item">
        <!-- PIZZA CARD -->
        <include src="./partials/cards/pizza-card.html"></include>
      </li>
    </ul>
  </div>
</section>
