<section class="page__proposal proposal">
  <div class="_container">
    <h2 class="proposal__title">We serve passion</h2>
    <ul class="proposal__cards-list">
      <li class="proposal__cards-item">
        <!-- CARD GOODS -->
        <include src="./partials/cards/goods-card.html"></include>
      </li>
      <li class="proposal__cards-item">
        <!-- CARD GOODS -->
        <include src="./partials/cards/goods-card.html"></include>
      </li>
      <li class="proposal__cards-item">
        <!-- CARD GOODS -->
        <include src="./partials/cards/goods-card.html"></include>
      </li>
      <li class="proposal__cards-item">
        <!-- CARD GOODS -->
        <include src="./partials/cards/goods-card.html"></include>
      </li>
    </ul>
  </div>
</section>
